[Unit]
Description=Wake on LAN for {{ ansible_facts.default_ipv4.interface }}
After=network.target

[Service]
Type=oneshot
ExecStart=/sbin/ethtool -s {{ ansible_facts.default_ipv4.interface }} wol g

[Install]
WantedBy=multi-user.target
